* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* app */

.App {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 20px;
}

/* navbar */

.Navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 11vh;
  background-color: aliceblue;
}

.Navbar img {
  width: 200px;
  height: 70px;
  mix-blend-mode: color-burn;
}

.Navbar .nav-user {
  width: 50vw;
  background-color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.Navbar .nav-user a {
  color: black;
  text-decoration: none;
}

/* cards users */

.users {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  height: 50vh;
  background-color: #077777;
  border: 5px solid black;
  border-radius: 10px;
}

.users h1 {
  text-decoration: none;
  color: white;
}

.users img {
  width: 100px;
  height: 70px;
  margin-top: 10px;
  object-fit: contain;
}

/* description */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: gray;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 42px;
}
